<div style="height: 100%">
  <mat-grid-list cols="6" rowHeight="100%">
    <mat-grid-tile colspan="4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{recipe?.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="https://img.icons8.com/?size=64&id=80684&format=png">
          <p>{{recipe?.description}}</p>
          <ol>
            <li *ngFor="let instruction of recipe?.instructions">{{instruction.description}}</li>
          </ol>

        </mat-card-content>

      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <div>
        <ul>
          <li *ngFor="let ingredient of ingredients">
            {{ingredient.amount}} {{ingredient.unit}} {{ingredient.ingredientName}}
          </li>
        </ul>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>
